main {
    max-width: 300px;
    margin: auto;
    padding: 20px;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

input[type="email"],
input[type="password"],
button {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
}

input[type="email"]:focus,
input[type="password"]:focus {
    box-shadow: 0 0 5px #aaa;
    outline: none;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    cursor: pointer;
}
